<div class="container">
  <div class="input-container">
    <ul class="chip-bar" (click)="handleClick()">
      <li class="chip" *ngFor="let item of items; let i = index">
        {{ item }}
        <span *ngIf="removable" class="remove" (click)="removeItem(i)">×</span>
      </li>
      <li class="input-field">
        <input
          #inputField
          type="text"
          class="input"
          [placeholder]="placeholder"
          (keydown)="addItem($event)"
        />
      </li>
    </ul>
    <button class="clear" (click)="removeAll()">Clear</button>
  </div>

  <small>Press <b>Enter</b> or <b>comma(,)</b> when you finish typing</small>
</div>
